:root
  var-side-color: #474747
  var-main-color: #fff

  var-nav-width: 190px
  var-total-width: 960px

  var-body-font-size: 16px
  var-rhythm: 12px
  var-rhythm2: calc(2*var(rhythm))
  var-rhythm3: calc(3*var(rhythm))
  var-rhythm4: calc(4*var(rhythm))

body
  min-height: 100%
  font-family: 'Rosario'
  font-size: var(body-font-size)
  background-color: #fbfbfb
  background-image: linear-gradient(top, white, rgba(255, 255, 255, 0) 30px)
  background-repeat: no-repeat
  
  h1, h2
    color: #0f4d92
    font-family: 'Open Sans'
    font-weight: 200
  
  h1
    font-size: var(rhythm3)
    margin-bottom: var(rhythm2)
    line-height: var(rhythm3)
  
  h2
    margin-top: var(rhythm3)
    margin-bottom: var(rhythm)
    position: relative
    top: -3px
    font-size: calc(2*var(rhythm))
    font-weight: 400
    line-height: var(rhythm2)
  
  h1 + *
    margin-top: var(rhythm2)
  
  h3
    font-size: calc(1.5*var(rhythm))
    font-weight: 600
    margin-top: var(rhythm)
    line-height: var(rhythm2)
    position: relative
    top: -1px
  
  h2 + *
    margin-top: var(rhythm)

#wrapper
  box-sizing: border-box
  width: var(total-width)
  padding: var(rhythm3) var(rhythm3)

nav
  float: left
  width: var(nav-width)
  z-index: -2
  margin-right: var(rhythm2)
  
  ul
    padding: 0px
    list-style-type: none
    
    li
      display: block
      box-sizing: border-box
      margin: var(rhythm) var(rhythm)
      text-align: right
      color: #bbb
      font-size: 18px
      
      &:first-child
        margin-top: 0px
      
        .lab
          color: #bbb
          margin-left: 4px
        
      &:first-child + li
        margin-top: -1px
      
      a
        color: inherit
        padding: 0
        margin: calc(var(rhythm)/2) 0
        line-height: var(rhythm2)
        text-decoration: none
        box-shadow: 0px 1px 3px rgba(black, 0)
        position: relative
        
        &:before
          content: ""
          position: absolute
          width: 9px
          height: 9px
          left: -30px
          top: 6px
          opacity: 0
          transform: scaleX(0.5) rotate(45deg)
          border: solid 4px #0f4d92
          border-bottom: none
          border-left: none
          border-radius: 3px
          transition: all 0.1s ease-out
        
        &:hover
          color: black
          
        &:hover:before
          opacity: 1
          left: -16px
          border-width: 2px
          transform: rotate(45deg)

#content
  overflow: hidden
  line-height: var(rhythm2)
  
  p + p
    margin-top: var(rhythm2)
  
  a
    text-decoration: none
    font-weight: 400
    color: #a00
    
    &:hover
      text-decoration: underline
  
  #steve
    width: 250px
    height: 188px
    margin: calc(var(rhythm)/2) var(rhythm2) 0 var(rhythm2)
    float: right
    background-image: url(/img/steve-thumb.jpeg)
    border-radius: 6px
    box-shadow: inset 0px 0px 6px rgba(black, 0.4)
  
  ul.peoples
    li
      display: inline-block
      width: 220px

.projects
  padding: 0px 5px
  margin-left: -5px
  margin-right: -5px
  
  li
    display: block
    // float: left
    // box-sizing: border-box
    // width: 250px
    // height: 400px
    margin: calc(var(rhythm)*1.75) var(rhythm2) calc(var(rhythm)*0.75) 0px
    // background-color: var(side-color)
    // box-shadow: 0px 1px 5px rgba(black, 0.3)
    
    &:first-child
      margin-top: calc(var(rhythm)*0.75)
    
    h3
      padding: calc(var(rhythm)/4) 0 0 0
      font-weight: normal
      font-style: italic
    
      &:first-child
        margin-top: 0px
    
    .proj-desc
      padding: 0
      
      .demo-imgs
        margin-top: calc(var(rhythm)/2 - 2px)
        margin-bottom: calc(var(rhythm)/2 + 2px)
        
        img
          display: inline-block
          width: calc((var(total-width) - var(nav-width))/2 - 6*var(rhythm))
          box-sizing: border-box
          vertical-align: middle
          border: solid 1px #ccc
          box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.1)
          
          &:not(:first-child)
            margin-left: var(rhythm)

#pub-sort-controls
  display: none
  width: 110px
  height: 50px
  margin: 0 0 calc(var(rhythm)/2) var(rhythm)
  float: right
  border: solid 1px black
  border-radius: 5px
  
.publist
  li
    &:before
      content: ""
      display: inline-block
      width: 3px
      height: 3px
      border-radius: 3px
      margin-right: 6px
      background-color: black
      vertical-align: middle
      position: relative
      top: -1px
    
    &:not(:first-child)
      margin-top: var(rhythm)
  
  .author
    &:not(:first-child):before
      content: ', '
    &:last-child:before
      content: ', and '
    &:first-child:last-child:before
      content: ''
  
  .title
    &:before
      content: ', '

  .journal, .booktitle
    font-style: italic
    &:before
      font-style: normal
      content: ', '
  
  .volume
    font-weight: bold
    &:before
      font-weight: normal
      content: ', '

  .issue
    &:before
      content: '('
    &:after
      content: ')'

  :not(.issue) + .pages
    display: none
  
  .pages
    &:before
      content: ': '
  
  .year
    &:before
      content: ', '
    &:after
      content: '.'
