ul.publist
  li
    span.authors
      span.author Siddiqi, K.
      span.author Zucker, S.W.
      span.author B, Y.
      span.author rub
      span.author Lauzi
      span.author re
      span.author Tannenbaum, A.
    span.title Area and Length Minimizing Flows for Shape Segmentation
    span.booktitle CVPR
    span.pages 621-627
    span.year 1997

  li
    span.authors
      span.author Siddiqi, K.
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title A Hamiltonian Approach to the Eikonal Equation
    span.booktitle EMMCVPR
    span.pages 1-13
    span.year 1999

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Li, G.
      span.author Zucker, S.W.
    span.title Connection Geometry, Color, and Stereo
    span.booktitle CAIP
    span.pages 13-19
    span.year 2007

  li
    span.authors
      span.author Breton, P.
      span.author Zucker, S.W.
    span.title Shadows and shading flow fields
    span.booktitle CVPR
    span.pages 782-789
    span.year 1996

  li
    span.authors
      span.author August, J.
      span.author Zucker, S.W.
      span.author Siddiqi, K.
    span.title Ligature Instabilities in the Perceptual Organization of Shape
    span.booktitle CVPR
    span.pages 2042-2048
    span.year 1999

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.W.
    span.title On the Perceptual Organization of Texture and Shading Flows: From a Geometrical Model to Coherence Computation
    span.booktitle CVPR (1)
    span.pages 1048-1055
    span.year 2001

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.W.
    span.title Hue fields and Color Curvatures: A Perceptual Organization Approach to Color Image Denoising
    span.booktitle CVPR (2)
    span.pages 713-720
    span.year 2003

  li
    span.authors
      span.author Siddiqi, K.
      span.author Bouix, S.
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title The Hamilton-Jacobi Skeleton
    span.booktitle ICCV
    span.pages 828-834
    span.year 1999

  li
    span.authors
      span.author Bartoli, M.
      span.author Pelillo, M.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Attributed Tree Homomorphism Using Association Graphs
    span.booktitle ICPR
    span.pages 2133-2136
    span.year 2000

  li
    span.authors
      span.author Pednault, E.P.
      span.author Zucker, S.W.
      span.author Muresan, L.V.
    span.title On the Independence Assumption Underlying Subjective Bayesian Updating
    span.journal Artif. Intell.
    span.volume 16
    span.issue 2
    span.pages 213-222
    span.year 1981

  li
    span.authors
      span.author Langer, M.S.
      span.author Zucker, S.W.
    span.title Casting Light on Illumination: A Computational Model and Dimensional Analysis of Sources
    span.journal Computer Vision and Image Understanding
    span.volume 65
    span.issue 2
    span.pages 322-335
    span.year 1997

  li
    span.authors
      span.author Belhumeur, P.N.
      span.author Duncan, J.S.
      span.author Hager, G.D.
      span.author McDermott, D.V.
      span.author Morse, A.S.
      span.author Zucker, S.W.
    span.title Computational Vision at Yale
    span.journal International Journal of Computer Vision
    span.volume 35
    span.issue 1
    span.pages 5-12
    span.year 1999

  li
    span.authors
      span.author Siddiqi, K.
      span.author Kimia, B.B.
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title Shapes, shocks and wiggles
    span.journal Image Vision Comput.
    span.volume 17
    span.issue 5-6
    span.pages 365-373
    span.year 1999

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.W.
    span.title The Perceptual Organization of Texture Flow: A Contextual Inference Approach
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 25
    span.issue 4
    span.pages 401-417
    span.year 2003

  li
    span.authors
      span.author Hummel, R.A.
      span.author Zucker, S.W.
    span.title On the Foundations of Relaxation Labeling Processes
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 5
    span.issue 3
    span.pages 267-287
    span.year 1983

  li
    span.authors
      span.author Iverson, L.A.
      span.author Zucker, S.W.
    span.title Logical/Linear Operators for Image Curves
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 17
    span.issue 10
    span.pages 982-996
    span.year 1995

  li
    span.authors
      span.author Leclerc, Y.G.
      span.author Zucker, S.W.
    span.title The Local Structure of Image Discontinuities in One Dimension
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 9
    span.issue 3
    span.pages 341-355
    span.year 1987

  li
    span.authors
      span.author Parent, P.
      span.author Zucker, S.W.
    span.title Trace Inference, Curvature Consistency, and Curve Detection
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 11
    span.issue 8
    span.pages 823-839
    span.year 1989

  li
    span.authors
      span.author Parent, P.
      span.author Zucker, S.W.
    span.title Radial Projection: An Efficient Update Rule for Relaxation Labeling
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 11
    span.issue 8
    span.pages 886-889
    span.year 1989

  li
    span.authors
      span.author Shokoufandeh, A.
      span.author Macrini, D.
      span.author Dickinson, S.J.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Indexing Hierarchical Structures Using Graph Spectra
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 27
    span.issue 7
    span.pages 1125-1140
    span.year 2005

  li
    span.authors
      span.author Le, M.T.
      span.author Sweeney, J.
      span.author Liberty, E.
      span.author Zucker, S.W.
    span.title Similarity kernels via bi-clustering for conventional intergovernmental organizations
    span.booktitle ISI
    span.pages 218-220
    span.year 2010

  li
    span.authors
      span.author Siddiqi, K.
      span.author Bouix, S.
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title Hamilton-Jacobi Skeletons
    span.journal International Journal of Computer Vision
    span.volume 48
    span.issue 3
    span.pages 215-231
    span.year 2002

  li
    span.authors
      span.author Siddiqi, K.
      span.author Shokoufandeh, A.
      span.author Dickinson, S.J.
      span.author Zucker, S.W.
    span.title Shock Graphs and Shape Matching
    span.journal International Journal of Computer Vision
    span.volume 35
    span.issue 1
    span.pages 13-32
    span.year 1999

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.W.
    span.title Hue geometry and horizontal connections
    span.journal Neural Networks
    span.volume 17
    span.issue 5-6
    span.pages 753-771
    span.year 2004

  li
    span.authors
      span.author Keller, Y.
      span.author Coifman, R.R.
      span.author St
      span.author Lafon
      span.author Zucker, S.W.
    span.title Audio-visual group recognition using diffusion maps
    span.journal IEEE Transactions on Signal Processing
    span.volume 58
    span.issue 1
    span.pages 403-413
    span.year 2010

  li
    span.authors
      span.author Siddiqi, K.
      span.author B, Y.
      span.author rub
      span.author Lauzi
      span.author re
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title Area and length minimizing flows for shape segmentation
    span.journal IEEE Transactions on Image Processing
    span.volume 7
    span.issue 3
    span.pages 433-443
    span.year 1998

  li
    span.authors
      span.author Zucker, S.W.
    span.title Hue Flows and Scene Structure
    span.booktitle 3DPVT
    span.pages 704
    span.year 2004

  li
    span.authors
      span.author Miller, D.A.
      span.author Zucker, S.W.
    span.title Reliable Computation and Related Games
    span.booktitle EMMCVPR
    span.pages 3-18
    span.year 1997

  li
    span.authors
      span.author Huggins, P.S.
      span.author Zucker, S.W.
    span.title Folds and Cuts: How Shading Flows Into Edges
    span.booktitle ICCV
    span.pages 153-158
    span.year 2001

  li
    span.authors
      span.author Pelillo, M.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Many-to-many Matching of Attributed Trees Using Association Graphs and Game Dynamics
    span.booktitle IWVF
    span.pages 583-593
    span.year 2001

  li
    span.authors
      span.author Zucker, S.W.
    span.title Early orientation selection: Tangent fields and the dimensionality of their support
    span.journal Computer Vision, Graphics, and Image Processing
    span.volume 32
    span.issue 1
    span.pages 74-103
    span.year 1985

  li
    span.authors
      span.author August, J.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Ligature Instabilities in the Perceptual Organization of Shape
    span.journal Computer Vision and Image Understanding
    span.volume 76
    span.issue 3
    span.pages 231-243
    span.year 1999

  li
    span.authors
      span.author Zucker, S.W.
    span.title Toward Consistent Descriptions in Vision Systems
    span.booktitle IJCAI
    span.pages 709
    span.year 1977

  li
    span.authors
      span.author Zucker, S.W.
    span.title Computer Vision and Human Perception: An Essay on the Discovery of Constraints
    span.booktitle IJCAI
    span.pages 1102
    span.year 1981

  li
    span.authors
      span.author Elder, J.H.
      span.author Zucker, S.W.
    span.title Space Scale Localization, Blur, and Contour-Based Image Coding
    span.booktitle CVPR
    span.pages 27-34
    span.year 1996

  li
    span.authors
      span.author Zucker, S.W.
      span.author David, C.
      span.author Dobbins, A.
      span.author Iverson, L.
    span.title The Organization Of Curve Detection: Coarse Tangent Fields And Fine Spline Coverings
    span.booktitle ICCV
    span.pages 568-577
    span.year 1988

  li
    span.authors
      span.author Pelillo, M.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Attributed Tree Matching and Maximum Weight Cliques
    span.booktitle ICIAP
    span.pages 1154-1159
    span.year 1999

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.W.
    span.title General Geometric Good Continuation: From Taylor to Laplace via Level Sets
    span.journal International Journal of Computer Vision
    span.volume 86
    span.issue 1
    span.pages 48-71
    span.year 2010

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.W.
    span.title Complexity, Confusion, and Perceptual Grouping. Part II: Mapping Complexity
    span.journal International Journal of Computer Vision
    span.volume 42
    span.issue 1/2
    span.pages 83-115
    span.year 2001

  li
    span.authors
      span.author Kimia, B.B.
      span.author Tannenbaum, A.
      span.author Zucker, S.W.
    span.title Shapes, shocks, and deformations I: The components of two-dimensional shape and the reaction-diffusion space
    span.journal International Journal of Computer Vision
    span.volume 15
    span.issue 3
    span.pages 189-224
    span.year 1995

  li
    span.authors
      span.author Li, G.
      span.author Zucker, S.W.
    span.title Contextual Inference in Contour-Based Stereo Correspondence
    span.journal International Journal of Computer Vision
    span.volume 69
    span.issue 1
    span.pages 59-75
    span.year 2006

  li
    span.authors
      span.author Liberty, E.
      span.author Zucker, S.W.
    span.title The Mailman algorithm: A note on matrix-vector multiplication
    span.journal Inf. Process. Lett.
    span.volume 109
    span.issue 3
    span.pages 179-182
    span.year 2009

  li
    span.authors
      span.author Li, G.
      span.author Zucker, S.W.
    span.title Differential Geometric Inference in Surface Stereo
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 32
    span.issue 1
    span.pages 72-86
    span.year 2010

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.W.
    span.title A complexity space for curve grouping
    span.booktitle CAIP
    span.pages 33-40
    span.year 1995

  li
    span.authors
      span.author Breton, P.
      span.author Iverson, L.A.
      span.author Langer, M.S.
      span.author Zucker, S.W.
    span.title Shading Flows and Scenel Bundles: A New Approach to Shape from Shading
    span.booktitle ECCV
    span.pages 135-150
    span.year 1992

  li
    span.authors
      span.author Macrini, D.
      span.author Shokoufandeh, A.
      span.author Dickinson, S.J.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Spectral Methods for View-Based 3-D Object Recognition Using Silhouettes
    span.booktitle SSPR/SPR
    span.pages 1-14
    span.year 2002

  li
    span.authors
      span.author Miller, D.A.
      span.author Zucker, S.W.
    span.title Cliques, computation, and computational tractability
    span.journal Pattern Recognition
    span.volume 33
    span.issue 4
    span.pages 535-542
    span.year 2000

  li
    span.authors
      span.author Huggins, P.S.
      span.author Chen, H.F.
      span.author Belhumeur, P.N.
      span.author Zucker, S.W.
    span.title Finding Folds: On the Appearance and Identification of Occlusion
    span.booktitle CVPR (2)
    span.pages 718-725
    span.year 2001

  li
    span.authors
      span.author Elder, J.H.
      span.author Zucker, S.W.
    span.title Computing Contour Closure
    span.booktitle ECCV (1)
    span.pages 399-412
    span.year 1996

  li
    span.authors
      span.author Pelillo, M.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title Matching Hierarchical Structures Using Association Graphs
    span.booktitle ECCV (2)
    span.pages 3-16
    span.year 1998

  li
    span.authors
      span.author Hart, J.W.
      span.author Avrunin, E.R.
      span.author Golub, D.
      span.author Scassellati, B.
      span.author Zucker, S.W.
    span.title Incorporating active vision into the body schema
    span.booktitle HRI
    span.pages 315-316
    span.year 2009

  li
    span.authors
      span.author Savadjiev, P.
      span.author Zucker, S.W.
      span.author Siddiqi, K.
    span.title On the Differential Geometry of 3D Flow Patterns: Generalized Helicoids and Diffusion MRI Analysis
    span.booktitle ICCV
    span.pages 1-8
    span.year 2007

  li
    span.authors
      span.author Macrini, D.
      span.author Shokoufandeh, A.
      span.author Dickinson, S.J.
      span.author Siddiqi, K.
      span.author Zucker, S.W.
    span.title View-Based 3-D Object Recognition using Shock Graphs
    span.booktitle ICPR (3)
    span.pages 24-
    span.year 2002

  li
    span.authors
      span.author Huggins, P.S.
      span.author Zucker, S.W.
    span.title Greedy Basis Pursuit
    span.journal IEEE Transactions on Signal Processing
    span.volume 55
    span.issue 7-2
    span.pages 3760-3772
    span.year 2007

  li
    span.authors
      span.author Elder, J.H.
      span.author Zucker, S.W.
    span.title Local Scale Control for Edge Detection and Blur Estimation
    span.booktitle ECCV (2)
    span.pages 57-69
    span.year 1996

  li
    span.authors
      span.author Sander, P.T.
      span.author Zucker, S.W.
    span.title Charting Surface Structure
    span.booktitle ECCV
    span.pages 418-426
    span.year 1990

  li
    span.authors
      span.author Siddiqi, K.
      span.author Zucker, S.W.
      span.author Tannenbaum, A.
    span.title Area Minimizing Flows
    span.booktitle ICIP (3)
    span.pages 392-395
    span.year 1997

  li
    span.authors
      span.author Zucker, S.W.
      span.author Rosenfeld, A.
      span.author Davis, L.S.
    span.title General Purpose Models: Expectations About The Unexpected
    span.booktitle IJCAI
    span.pages 716-721
    span.year 1975

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.W.
    span.title Complexity, Confusion, and Perceptual Grouping. Part I: The Curve-like Representation
    span.journal International Journal of Computer Vision
    span.volume 42
    span.issue 1/2
    span.pages 55-82
    span.year 2001

  li
    span.authors
      span.author David, C.
      span.author Zucker, S.W.
    span.title Potentials, valleys, and dynamic global coverings
    span.journal International Journal of Computer Vision
    span.volume 5
    span.issue 3
    span.pages 219-238
    span.year 1990

  li
    span.authors
      span.author Pizer, S.M.
      span.author Siddiqi, K.
      span.author G
      span.author Sz
      span.author kely
      span.author Damon, J.N.
      span.author Zucker, S.W.
    span.title Multiscale Medial Loci and Their Properties
    span.journal International Journal of Computer Vision
    span.volume 55
    span.issue 2-3
    span.pages 155-179
    span.year 2003

  li
    span.authors
      span.author Miller, D.A.
      span.author Zucker, S.W.
    span.title Efficient Simplex-Like Methods for Equilibria of Nonsymmetric Analog Networks
    span.journal Neural Computation
    span.volume 4
    span.issue 2
    span.pages 167-190
    span.year 1992

  li
    span.authors
      span.author Elder, J.H.
      span.author Zucker, S.W.
    span.title Local Scale Control for Edge Detection and Blur Estimation
    span.journal IEEE Trans. Pattern Anal. Mach. Intell.
    span.volume 20
    span.issue 7
    span.pages 699-716
    span.year 1998

  li
    span.authors
      span.author Zucker, S.W.
      span.author Hummel, R.A.
      span.author Rosenfeld, A.
    span.title An Application of Relaxation Labeling to Line and Curve Enhancement
    span.journal IEEE Trans. Computers
    span.volume 26
    span.issue 4
    span.pages 394-403
    span.year 1977

  li
    span.authors
      span.author Zucker, S.W.
      span.author Rosenfeld, A.
      span.author Davis, L.S.
    span.title Picture Segmentation by Texture Discrimination
    span.journal IEEE Trans. Computers
    span.volume 24
    span.issue 12
    span.pages 1228-1233
    span.year 1975

