extends _layout
block title
  mixin title('Bio')
  
block content
  h1 Bio
  
  #steve
  
  p Steven W. Zucker is the David and Lucile Packard Professor of Computer Science and Electrical Engineering at Yale University. Before moving to Yale in 1996, he was Professor of Electrical Engineering at McGill University, Director of the Program in Artificial Intelligence and Robotics of the Canadian Institute for Advanced Research, and the Co-Director of the Computer Vision and Robotics Laboratory in the McGill Research Center for Intelligent Machines. He was elected a Fellow of the Canadian Institute for Advanced Research, a Fellow of the IEEE, and (by)Fellow of Churchill College, Cambridge.

  p Dr. Zucker obtained his education at Carnegie-Mellon University in Pittsburgh and at Drexel University in Philadelphia, and was a post-doctoral Research Fellow in Computer Science at the University of Maryland, College Park. He was Professor Invitée at Institut National de Recherche en Informatique et en Automatique, Sophia-Antipolis, France, in 1989, a Visiting Professor of Computer Science at Tel Aviv University in January, 1993, and an SERC Fellow of the Isaac Newton Institute for Mathematical Sciences, University of Cambridge.

  p Prof. Zucker has authored or co-authored papers on computational vision, biological perception, artificial intelligence, and robotics, and serves on the editorial boards of 8 journals.
  