extends _layout
block title
  title(Bio)
  
block content
  h1 Contact
  
  dl
    dt: h3 Email:
    dd
      p.info
        a(href='mailto:steven.zucker@yale.edu') steven.zucker@yale.edu
  
    dt: h3 Telephone:
    dd
      pre.
        203-432-6434 (office)
        203-432-0593 (fax)
  
    dt: h3 Mailing Address:
    dd
      pre.
        Steven Zucker
        Department of Computer Science
        Yale University
        51 Prospect Street
        P. O. Box 208285
        New Haven, CT 06520-8285