extends _layout
block title
  mixin title('Research')

block content
  h1 Computational Vision Group
  
  p Computational vision is at the heart of biomedicine and robotics, but is still quite primitive when compared with our own visual sense. We effortlessly demonstrate enormous flexibility and generality, which hides its staggering complexity: Nearly half of the primate brain processes visual information. Our group is attempting to put the requirements of vision systems together with insights from neurophysiology and the rigor of mathematics to develop an abstract theory of computational vision.  Based on differential geometry, it leads to methods of curve detection and shading and texture analysis.
  
  p My group is working on early vision, grouping, and generic shape analysis. Recent projects and research topics are demonstrated below. For a recent overview paper on computing in cortical columns, a topic at the heart of our research, please click <a href="/papers/Zucker01_columns.ps.gz">here</a>.
