extends _layout
block title
  +title('People')

block content
  h1 People

  h2 Current Members
  h3 Faculty
  ul.peoples
    li Steven Zucker

  h3 Graduate Students
  ul.peoples
    li Daniel Holtmann-Rice
    li Benjamin Kunsberg
    li Reynard Le
    li Vincent Zhao

  h2 Alumni
  h3 Postdocs
  ul.peoples
    li: a(href='http://www.cs.bgu.ac.il/~obs/') Ohad Ben-Shahar
    li Pierre Breton
    li: a(href='http://www.cas.mcmaster.ca/~djones/') David Jones
    li: a(href='http://www.cim.mcgill.ca/~langer/') Michael Langer
    li Douglas Miller
    li: a(href='http://www.cim.mcgill.ca/~siddiqi/') Kaleem Siddiqi

  h3 Graduate Students
  ul.peoples
    li Shamez Alibhai
    li: a(href='http://www.cs.cmu.edu/~jonas/') Jonas August
    li: a(href='http://www.cs.bgu.ac.il/~obs/') Ohad Ben-Shahar
    li Pierre Breton
    li: a(href='http://www.mathstat.concordia.ca/faculty/chantal/') Chantal David
    li Pavel Dimitrov
    li: a(href='https://uab.edu/vsgp/allan-c-dobbins') Allan Dobbins
    li: a(href='http://www.espacecourbe.com/en/') Benoit Dubuc
    li: a(href='http://elderlab.yorku.ca/~elder/index.php') James Elder
    li Andreas Glaser
    li Harold Hubschman
    li: a(href='http://www.cs.yale.edu/homes/huggins/') Patrick Huggins
    li: a(href='http://www.ai.sri.com/people/leei') Lee Iverson
    li Kamal Kant Gupta
    li David Kashtan
    li: a(href='http://www.lems.brown.edu/kimia.html') Ben Kimia
    li: a(href='http://www.cim.mcgill.ca/~langer/') Michael Langer
    li Matthew Lawlor
    li: a(href='http://www.ai.sri.com/people/leclerc') Yvan Leclerc
    li: a(href='http://www.cs.yale.edu/homes/li-gang/') Gang Li
    li: a(href='http://labs.yahoo.com/author/edo/') Edo Liberty
    li Norah Link
    li John Mohammed
    li Pierre Parent
    li Peter Sander
    li: a(href='http://www.cs.ucla.edu/~dt/') Demetri Terzopoulos
    li: a(href='http://www.cse.yorku.ca/~tsotsos/Tsotsos/Home.html') John Tsotsos

  h3 Undergraduate Students
  ul.peoples
    li Emma Alexander
    li: a(href='https://plus.google.com/+TomasIzo/posts') Tomas Izo
