extends _layout
block title
  +title('People')
  
block content
  h1 People
  
  h2 Current Members
  h3 Faculty
  ul.peoples
    li Steven Zucker
  
  h3 Graduate Students
  ul.peoples
    li Daniel Holtmann-Rice
    li Benjamin Kunsberg
    li Matthew Lawlor
    li Reynard Le
  
  h2 Alumni
  h3 Postdocs
  ul.peoples
    li Ohad Ben-Shahar
    li Pierre Breton
    li David Jones
    li Michael Langer
    li Douglas Miller
    li Kaleem Siddiqi
  
  h3 Graduate Students
  ul.peoples
    li Shamez Alibhai
    li Jonas August
    li Ohad Ben-Shahar
    li Pierre Breton
    li Chantal David
    li Pavel Dimitrov
    li Allan Dobbins
    li Benoit Dubuc
    li James Elder
    li Andreas Glaser
    li Harold Hubschman
    li Patrick Huggins
    li Lee Iverson
    li Kamal Kant Gupta
    li David Kashtan
    li Ben Kimia
    li Michael Langer
    li Yvan Leclerc
    li Gang Li
    li Edo Liberty
    li Norah Link
    li John Mohammed
    li Pierre Parent
    li Peter Sander
    li Demetri Terzopoulos
    li John Tsotsos
    
  h3 Undergraduate Students
  ul.peoples
    li Emma Alexander
    li Tomas Izo
  