extends _layout
block title
  +title('Publications')

block content
  h1 Publications

  h2.journals Journal Articles
  include pubs/_journals

  h2.books Book Chapters
  include pubs/_books

block sidecontent
  #pub-controls
    input(type='text', name='pubfilter', id='pubfilter',
          placeholder='Filter publications…')

block scripts
  script(src='/scripts/publications.js')
