ul.publist.books
  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title What is an intermediate-level feature?
      span.booktitle The Wiley-Blackwell Handbook of Experimental Phenomenology; Visual Perception of Shape, Space and Appearance
      span.year 2013

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title The Visual Hierarchy Mirage: Seeing Trees in a Graph
      span.booktitle Shape Perception in Human and Computer Vision, Advances in Computer Vision and Pattern Recognition
      span.year 2013

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Hummel, R.
      span.title A three-dimensional edge operator
      span.booktitle Volume Visualization
      span.year 2013

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Distance Images and the Enclosure Field: Applications in Intermediate-Level Computer and Biological Vision
      span.booktitle Innovations in Shape Analysis
      span.year 2012

  li.book
    span.reference
      span.authors
        span.author Ben-Shahar, O.
        span.author Zucker, S.
      span.title Good continuation in layers: Shading flows, color flows, surfaces and shadows
      span.booktitle Perception beyond Inference: The Information Content of Visual Processes
      span.pages 241 - 260
      span.year 2010

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title The Challenge of Vision/The Delight in Seeing
      span.booktitle First Doubt: Optical confusion in modern photography
      span.pages 19 - 22
      span.year 2008

  li.book
    span.reference
      span.authors
        span.author Ben-Shahar, O.
        span.author Zucker, S.
      span.title Boundary Gestalt Limits Flow Gestalt: The Geometry of Good Continuation
      span.booktitle Visual Thought: The depictive space of the mind
      span.pages 115 - 131
      span.year 2006

  li.book
    span.reference
      span.authors
        span.author Bouis, S.
        span.author Siddiqi, K.
      span.title Tannenbaum, A. and Zucker, S.W. and Medial axis computation and evolution
      span.booktitle Statistics and Analysis of Shapes
      span.pages 1 - 29
      span.year 2006

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Which Computation Runs in Visual Cortical Columns?
      span.booktitle Problems in Systems Neuroscience
      span.year 2006

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Differential Geometry from the Frenet Point of View: Boundary Detection, Stereo, Texture and Color
      span.booktitle Handbook of Mathematical Methods in Computer Vision
      span.year 2006

  li.book
    span.reference
      span.authors
        span.author Ben-Shahar, O.
        span.author Zucker, S.
      span.title Hue geometry and horizontal connections
      span.booktitle Vision And Brain: How the brain sees / New approaches to computer vision
      span.year 2004

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Computing in Cortical Columns: Information Processing in Visual Cortex
      span.booktitle SENSORS AND SENSING IN BIOLOGY AND ENGINEERING
      span.pages 263 - 274
      span.year 2003

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Relaxation labeling: 25 years and still iterating
      span.booktitle Foundations of Image Understanding
      span.pages 289 - 322
      span.year 2001

  li.book
    span.reference
      span.authors
        span.author August, J.
        span.author Zucker, S.
      span.title The curve indicator random field: Curve organization via edge correlation
      span.booktitle Perceptual Organization for Artificial Vision Systems
      span.year 2000

  li.book
    span.reference
      span.authors
        span.author Pelillo, M.
        span.author Siddiqi, K.
        span.author Zucker, S.
      span.title Continuous-based heuristics for graph and tree isomorphisms, with application to computer vision
      span.booktitle Approximation and Complexity in Numerical Optimization: Continuous and Discrete Problems
      span.year 2000

  li.book
    span.reference
      span.authors
        span.author Dubuc, B.
        span.author Zucker, S.
      span.title Complexity, confusion, and perceptual grouping
      span.booktitle Advances in Visual Form Processing
      span.pages 150 - 160
      span.year 1997

  li.book
    span.reference
      span.authors
        span.author Siddiqi, K.
        span.author Kimia, B.
        span.author Tannenbaum, A.
        span.author Zucker, S.
      span.title Shape perception, shocks, and wiggles
      span.booktitle Advances in Visual Form Processing
      span.pages 549 - 558
      span.year 1997

  li.book
    span.reference
      span.authors
        span.author Langer, M.
        span.author Zucker, S.
      span.title Part Boundaries from Active Shading
      span.booktitle Exploratory Vision: The active eye
      span.pages 191 - 201
      span.year 1996

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Structural scales in computational vision
      span.booktitle Advances in Computer Vision
      span.year 1996

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Perceptual Grouping
      span.booktitle Handbook of Brain Theory and Neural Networks
      span.pages 725 - 727
      span.year 1995

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Visual Computations and Dot Clusters
      span.booktitle Partitioning Data Sets
      span.pages 391 - 408
      span.year 1995

  li.book
    span.reference
      span.authors
        span.author Kimia, B.
        span.author Tannenbaum, A.
        span.author Zucker, S.
      span.title On the shape triangle
      span.booktitle Aspects of Visual Form Processing
      span.pages 307 - 323
      span.year 1994

  li.book
    span.reference
      span.authors
        span.author Kimia, B.
        span.author Tannenbaum, A.
        span.author Zucker, S.
      span.title On Optimal Control Methods in Computer Vision and Image Processing
      span.booktitle Geometry-Driven Diffusion in Computer Vision
      span.pages 307 - 338
      span.year 1994

  li.book
    span.reference
      span.authors
        span.author Kimia, B.
        span.author Tannenbaum, A.
        span.author Zucker, S.
      span.title Exploring the shape manifold: the role of conservation laws
      span.booktitle Shape in Picture
      span.pages 601 - 620
      span.year 1994

  li.book
    span.reference
      span.authors
        span.author Allman, J.
        span.author Zucker, S.
      span.title On cytochrome oxidase blobs in visual cortex
      span.booktitle Spatial Vision for Humans and Robots
      span.pages 33 - 39
      span.year 1993

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Dobbins, A.
        span.author Iverson, L.
        span.author Kimia, B.
        span.author Tannenbaum, A.
      span.title From curve detection to shape description: An outline
      span.booktitle Computer Vision: systems, theory, and applications
      span.pages 25 - 40
      span.year 1993

  li.book
    span.reference
      span.authors
        span.author Breton, P.
        span.author Iverson, L.
        span.author Langer, M.
        span.author Zucker, S.
      span.title Shading Flows and Scenel Bundles: A new approach to shape from shading
      span.booktitle Neural Networks for Vision and Image Processing
      span.pages 111 - 132
      span.year 1992

  li.book
    span.reference
      span.authors
        span.author Kimia, B.
        span.author Tannenbaum, A.
        span.author Zucker, S.
      span.title Entropy scale space
      span.booktitle Visual Form
      span.pages 333 - 344
      span.year 1992

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Iverson, L.
        span.author Dobbins, A.
      span.title Connectionism and the Computational Neurobiology of Curve Detection
      span.booktitle Connectionism: Theory and Practice
      span.pages 277 - 296
      span.year 1992

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Early vision
      span.booktitle The Encyclopedia of Artificial Intelligence
      span.pages 394 - 420
      span.year 1990

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Iverson, L.
        span.author Dobbins, A.
      span.title On the neural computations of curve detection
      span.booktitle Advanced Neural Computers
      span.year 1990

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author David, C.
        span.author Dobbins, A.
        span.author Iverson, L.
      span.title The organization of curve detection: Coarse tangent fields and fine spline coverings
      span.booktitle From Pixels to Features
      span.pages 75 - 90
      span.year 1989

  li.book
    span.reference
      span.authors
        span.author Dobbins, A.
        span.author Zucker, S.
        span.author Cynader, M.
      span.title The Hypercomplex neuron: Has vision been thrown a curve?
      span.booktitle Computational Processes in Human Vision: An Interdisciplinary Perspective
      span.year 1988

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title A biologically motivated approach to early visual computations: orientation selection, texture, and optical flow
      span.booktitle Lecture Notes in Computer Science
      span.year 1988

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Iverson, L.
      span.title Computational networks in early vision: From orientation selection to optical flow
      span.booktitle Neural Computers
      span.year 1988

  li.book
    span.reference
      span.authors
        span.author Hummel, R.
        span.author Zucker, S.
      span.title On the foundations of relaxation labeling processes
      span.booktitle Readings in Computer Vision
      span.year 1987

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Early orientation selection: Tangent fields and the dimensionality of their support
      span.booktitle Readings in Computer Vision
      span.year 1987

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title The emerging paradigm of computational vision
      span.booktitle Annual Reviews of Computer Science
      span.pages 69 - 89
      span.year 1987

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title The diversity of perceptual grouping
      span.booktitle Vision, Brain, and Cooperative Computation
      span.year 1986

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title The fox and the forest: Toward a Type I/Type II constraint on early optical flow
      span.booktitle Motion: Representation and Perception
      span.pages 29 - 62
      span.year 1986

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Early orientation selection and grouping
      span.booktitle From Pixels to Predicates: Progress in Computer Vision
      span.year 1986

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Early orientation selection: Tangent fields and the dimensionality of their support
      span.booktitle Human and Machine Vision II, (Perspectives in Computing, vol. 13)
      span.year 1986

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Hummel, R.
      span.title A 3-dimensional edge operator
      span.booktitle Digital Image Processing and Analysis: Vol. 2: Digital Image Analysis
      span.year 1985

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Cooperative grouping and early orientation selection
      span.booktitle Physical and Biological Processing of Images
      span.year 1984

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Type I and Type II processes in early orientation selection
      span.booktitle Figural Synthesis
      span.year 1984

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Computational and psychophysical experiments in grouping
      span.booktitle Human and Machine Vision
      span.year 1984

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Parent, P.
      span.title Curvature constraints from multiple-size asymmetric operators
      span.booktitle Multi-Resolution Image Processing and Analysis
      span.year 1984

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Cooperation and visual information processing
      span.booktitle Digital Image Processing
      span.year 1981

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Local Structure, consistency, and continuous relaxation
      span.booktitle Digital Image Processing
      span.year 1980

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
        span.author Terzopoulos, D.
      span.title Finding structure in co-occurrence matrices for texture analysis
      span.booktitle Image Modeling
      span.year 1980

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Production systems with feedback
      span.booktitle Pattern-Directed Inference Systems
      span.year 1978

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Vertical and horizontal processes in low-level vision
      span.booktitle Computer Vision Systems
      span.year 1978

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Relaxation labelling and the reduction of local ambiguities
      span.booktitle Computer Methods in Image Analysis
      span.year 1977

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Relaxation labelling, local ambiguities and low-level vision
      span.booktitle Pattern Recognition and Artificial Intelligence
      span.year 1977

  li.book
    span.reference
      span.authors
        span.author Zucker, S.
      span.title Approaches to image segmentation
      span.booktitle Digital Image Processing and Analysis
      span.year 1977

