ul.publist.journals
  li
    span.authors
      span.author Savadjiev, P.
      span.author Strijkers, G.
      span.author Bakermans, A.
      span.author Piuze, E.
      span.author Zucker, S.
      span.author Siddiqi, K.
    span.title Heart wall myofibers are arranged in minimal surfaces to optimize organ function
    span.journal Proc. Nat. Acad. Sci. (USA)
    span.volume 109
    span.issue 24
    span.pages 9248-9253
    span.year 2012

  li
    span.authors
      span.author Zucker, S.
    span.title Local Field Potentials and Border Ownership: a conjecture about computation in visual cortex
    span.journal Journal of Physiology
    span.volume 106
    span.issue 5-6
    span.pages 297 - 315
    span.year 2012

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title General geometric good continuation: From Taylor to Laplace via level sets
    span.journal Int. J. Computer Vision
    span.volume 86
    span.issue 1
    span.pages 48 - 71
    span.year 2010

  li
    span.authors
      span.author Keller, Y.
      span.author Lafon, S.
      span.author Coifman, R.
      span.author Zucker, S.
    span.title Audio-Visual Group Recognition by diffusion maps
    span.journal IEEE Transactions On Signal Processing
    span.volume 58
    span.issue 1
    span.pages 403 - 413
    span.year 2010

  li
    span.authors
      span.author Li, G.
      span.author Zucker, S.
    span.title Differential Geometric Inference in Surface Stereo
    span.journal IEEE Transactions On Pattern Analysis and Machine Intelligence
    span.volume 32
    span.issue 1
    span.pages 72 - 86
    span.year 2010

  li
    span.authors
      span.author Lawlor, M.
      span.author Holtmann-Rice, D.
      span.author Huggins, P.
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title Boundaries, Shading, and Border Ownership: a cusp at their interaction
    span.journal J. Physiol(Paris)
    span.volume 103
    span.pages 18 - 36
    span.year 2009

  li
    span.authors
      span.author Liberty, E.
      span.author Zucker, S.
    span.title The Mailman algorithm for matrix vector multiplication
    span.journal Information Processing Letters
    span.volume 109
    span.issue 3
    span.pages 179 - 182
    span.year 2009

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Scholl, B.
      span.author Zucker, S.
    span.title Attention, segregation, and textons: Bridging the gap between object-based attention and texton-based segregation
    span.journal Vision Research
    span.volume 47
    span.issue 6
    span.pages 845-860
    span.year 2007

  li
    span.authors
      span.author Huggins, P.
      span.author Zucker, S.
    span.title Greedy basis pursuit
    span.journal IEEE Transactions On Signal Processing
    span.volume 55
    span.issue 7
    span.pages 3760 - 3772
    span.year 2007

  li
    span.authors
      span.author Dimitrov, P.
      span.author Zucker, S.
    span.title A constant production hypothesis that predicts the dynamics of leaf venation patterning
    span.journal Proc. Nat. Acad. Sci. (USA)
    span.volume 13
    span.issue 24
    span.pages 9363 - 9368
    span.year 2006

  li
    span.authors
      span.author Li, G.
      span.author Zucker, S.
    span.title Contextual Inference in Contour-Based Stereo Correspondence
    span.journal Int. J. of Computer Vision
    span.volume 69
    span.issue 1
    span.pages 59 - 75
    span.year 2006

  li
    span.authors
      span.author Coifman, R.
      span.author Lafon, S.
      span.author Lee, A.
      span.author Maggioni, M.
      span.author Nadler, B.
      span.author Warner, F.
      span.author Zucker, S.
    span.title Geometric diffusions as a tool for harmonic analysis and structure definition of data: Multiscale Methods
    span.journal Proc. Nat. Acad. Sci. (USA)
    span.volume 102
    span.issue 21
    span.pages 7432 - 7437
    span.year 2005

  li
    span.authors
      span.author Coifman, R.
      span.author Lafon, S.
      span.author Lee, A.
      span.author Maggioni, M.
      span.author Nadler, B.
      span.author Warner, F.
      span.author Zucker, S.
    span.title Geometric diffusions as a tool for harmonic analysis and structure definition of data: Diffusion Maps
    span.journal Proc. Nat. Acad. Sci. (USA)
    span.volume 102
    span.issue 21
    span.pages 7426 - 7431
    span.year 2005

  li
    span.authors
      span.author Coifman, R.
      span.author Maggioni, M.
      span.author Zucker, S.
      span.author Kevrekidis, I.
    span.title Geometric diffusions for the analysis of data from sensor networks
    span.journal Current Opinion in Neuroscience
    span.volume 15
    span.issue 5
    span.pages 576 - 584
    span.year 2005

  li
    span.authors
      span.author Shokoufandeh, A.
      span.author Macrini, D.
      span.author Dickinson, S.
      span.author Siddiqi, K.
      span.author Zucker, S.
    span.title Indexing Hierarchical Structures Using Graph Spectra
    span.journal IEEE Transactions On Pattern Analysis and Machine Intelligence
    span.volume 27
    span.issue 7
    span.pages 1125-1140
    span.year 2005

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title Sensitivity to curvatures in orientation-based texture segmentation
    span.journal Vision Research
    span.volume 44
    span.issue 3
    span.pages 257 - 277
    span.year 2004

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title Hue geometry and horizontal connections
    span.journal Neural Networks
    span.volume 17
    span.issue 5-6
    span.pages 753-771
    span.year 2004

  li
    span.authors
      span.author August, J.
      span.author Zucker, S.
    span.title Sketches with curvature: The curve indicator random field and Markov processes
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 25
    span.issue 4
    span.pages 387 - 401
    span.year 2003

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Huggins, P.
      span.author Izo, T.
      span.author Zucker, S.
    span.title Cortical Connections and Early Visual Function: Intra- and Inter-Columnar Processing
    span.journal J. Physiol. (Paris)
    span.volume 97
    span.issue 2,3
    span.pages 191 - 208
    span.year 2003

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title The Perceptual Organization of Texture Flow: A Contextual Inference Approach
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 25
    span.issue 4
    span.pages 401 - 417
    span.year 2003

  li
    span.authors
      span.author Ben-Shahar, O.
      span.author Zucker, S.
    span.title Geometrical computations explain projection patterns of long-range horizontal connections in visual cortex
    span.journal Neural Computation
    span.volume 16
    span.issue 3
    span.pages 445 - 476
    span.year 2003

  li
    span.authors
      span.author Pizer, S.
      span.author Damon, J.
      span.author Siddiqi, K.
      span.author Szekely, G.
      span.author Zucker, S.
    span.title Multiscale Medial Loci and Their Properties
    span.journal Int. J. of Computer Vision
    span.volume 55
    span.issue 3
    span.pages 155-179
    span.year 2003

  li
    span.authors
      span.author Siddiqi, K.
      span.author Bouix, S.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title Hamilton-Jacobi Skeletons
    span.journal Int. J. of Computer Vision
    span.volume 48
    span.issue 3
    span.pages 215 - 232
    span.year 2002

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.
    span.title Complexity, Confusion, and Perceptual Grouping. Part II: mapping complexity
    span.journal Int. J. of Computer Vision
    span.volume 42
    span.issue 1/2
    span.pages 83-115
    span.year 2001

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.
    span.title Complexity, Confusion, and Perceptual Grouping. Part I: the curve like representation
    span.journal Int. J. of Computer Vision
    span.volume 42
    span.issue 1/2
    span.pages 55-82
    span.year 2001

  li
    span.authors
      span.author Siddiqi, K.
      span.author Kimia, B.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title On the psychophysics of the shape triangle
    span.journal Vision Research
    span.volume 41
    span.issue 9
    span.pages 1153 - 1178
    span.year 2001

  li
    span.authors
      span.author Miller, D.
      span.author Zucker, S.
    span.title Cliques, Computation, and Computational Tractability
    span.journal Pattern Recognition
    span.volume 33
    span.pages 535 - 542
    span.year 2000

  li
    span.authors
      span.author August, J.
      span.author Siddiqi, K.
      span.author Zucker, S.
    span.title Ligature Instabilities in the Perceptual Organization of Shape
    span.journal Computer Vision and Image Understanding
    span.volume 76
    span.issue 3
    span.pages 231 - 243
    span.year 1999

  li
    span.authors
      span.author August, J.
      span.author Siddiqi, K.
      span.author Zucker, S.
    span.title Contour Fragment Grouping and Shared, Simple Occluders
    span.journal Computer Vision and Image Understanding
    span.volume 76
    span.issue 2
    span.pages 146 - 162
    span.year 1999

  li
    span.authors
      span.author Miller, D.
      span.author Zucker, S.
    span.title Computing with Self-Excitatory Cliques: A Model and An Application to Hyperacuity-scale Computation in Visual Cortex
    span.journal Neural Computation
    span.volume 11
    span.issue 1
    span.pages 21-66
    span.year 1999

  li
    span.authors
      span.author Pelillo, M.
      span.author Siddiqi, K.
      span.author Zucker, S.
    span.title Matching hierarchical structures using association graphs
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 21
    span.issue 11
    span.pages 1105 - 1119
    span.year 1999

  li
    span.authors
      span.author Siddiqi, K.
      span.author Kimia, B.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title Shapes, shocks, and wiggles
    span.journal Image and Vision Computing
    span.volume 17
    span.issue 5-6
    span.pages 365-373
    span.year 1999

  li
    span.authors
      span.author Siddiqi, K.
      span.author Shokoufandeh, A.
      span.author Dickinson, S.
      span.author Zucker, S.
    span.title Shock Graphs and Shape Matching
    span.journal International Journal of Computer Vision
    span.volume 35
    span.issue 1
    span.pages 13 - 32
    span.year 1999

  li
    span.authors
      span.author Elder, J.
      span.author Zucker, S.
    span.title Local Scale Control for Edge Detection and Blur Estimation
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 20
    span.issue 7
    span.pages 699 - 716
    span.year 1998

  li
    span.authors
      span.author Elder, J.
      span.author Zucker, S.
    span.title Evidence for boundary-specific grouping in human vision
    span.journal Vision Research
    span.volume 38
    span.issue 1
    span.pages 143 - 152
    span.year 1998

  li
    span.authors
      span.author Siddiqi, K.
      span.author Berube, Y.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title Area and Length Minimizing Flows for Shape Segmentation
    span.journal IEEE Transactions on Image Processing
    span.volume 7
    span.issue 3
    span.pages 433 - 443
    span.year 1998

  li
    span.authors
      span.author Langer, M.
      span.author Zucker, S.
    span.title Casting light on illumination: A computational model and dimensional analysis of sources
    span.journal Computer Vision and Image Understanding
    span.volume 65
    span.issue 2
    span.pages 322 - 335
    span.year 1997

  li
    span.authors
      span.author Iverson, L.
      span.author Zucker, S.
    span.title Logical/linear operators for image curves
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 17
    span.issue 10
    span.pages 982 - 996
    span.year 1995

  li
    span.authors
      span.author Kimia, B.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title Shapes, shocks, and deformations, I
    span.journal Int. J. Computer Vision
    span.volume 15
    span.pages 189 - 224
    span.year 1995

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.
      span.author Stryker, M.
    span.title Complexity Maps Reveal Clusters in Neuronal Arborizations
    span.journal Fractals
    span.volume 2
    span.issue 6
    span.pages 2(2), 297 - 301
    span.year 1994

  li
    span.authors
      span.author Elder, J.
      span.author Zucker, S.
    span.title A measure of closure
    span.journal Vision Research
    span.volume 34
    span.pages 3361 - 3370
    span.year 1994

  li
    span.authors
      span.author Langer, M.
      span.author Zucker, S.
    span.title Shape from Shading on a cloudy day
    span.journal J. Opt. Soc. Am., A
    span.volume 11
    span.issue 2
    span.pages 467 - 478
    span.year 1994

  li
    span.authors
      span.author Elder, J.
      span.author Zucker, S.
    span.title Contour closure and the perception of shape
    span.journal Vision Research
    span.volume 33
    span.issue 7
    span.pages 981 - 991
    span.year 1993

  li
    span.authors
      span.author Kimia, B.
      span.author Zucker, S.
    span.title Symbolic inverse to Gaussian Blur
    span.journal Optical Engineering
    span.volume 32
    span.issue 1
    span.pages 166 - 176
    span.year 1993

  li
    span.authors
      span.author Zucker, S.
    span.title Endowing AI with Vision: A biological and computational perspective
    span.journal Current Science
    span.volume 64
    span.issue 6
    span.pages 407 - 418
    span.year 1993

  li
    span.authors
      span.author Kimia, B.
      span.author Tannenbaum, A.
      span.author Zucker, S.
    span.title On the evolution of curves via a function of curvature, 1: The classical case
    span.journal J. Mathematical Analysis and Application
    span.volume 163
    span.issue 2
    span.pages 438 - 458
    span.year 1992

  li
    span.authors
      span.author Miller, D.
      span.author Zucker, S.
    span.title Efficent simplex-like methods for equilibria of nonsymmetric analog networks
    span.journal Neural Computation
    span.volume 4
    span.issue 2
    span.pages 167 - 190
    span.year 1992

  li
    span.authors
      span.author Sander, P.
      span.author Zucker, S.
    span.title Singularities of principal direction fields from 3-D images
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 1
    span.issue 3
    span.pages 309 - 317
    span.year 1992

  li
    span.authors
      span.author Miller, D.
      span.author Zucker, S.
    span.title Copositive-plus Lemke algorithm solves linear n-person games
    span.journal Operations Research Letters
    span.volume 10
    span.pages 285 - 290
    span.year 1991

  li
    span.authors
      span.author Miller, D.
      span.author Zucker, S.
    span.title Complexity and optimality
    span.journal Behav. and Brain Sciences
    span.volume 14
    span.pages 227 - 228
    span.year 1991

  li
    span.authors
      span.author Norman, J.
      span.author Lappin, J.
      span.author Zucker, S.
    span.title The discriminability of stereoscopic surface structure
    span.journal Perception
    span.volume 20
    span.pages 789 - 807
    span.year 1991

  li
    span.authors
      span.author Allman, J.
      span.author Zucker, S.
    span.title Cytochrome oxidase and functional coding in primate striate cortex: An hypothesis
    span.journal Cold Spring Harbor Symp. Quant. Biology
    span.volume 55
    span.pages 979 - 982
    span.year 1990

  li
    span.authors
      span.author David, C.
      span.author Zucker, S.
    span.title Potentials, valleys, and dynamic global coverings
    span.journal Int. J. Computer Vision
    span.volume 5
    span.pages 219 - 238
    span.year 1990

  li
    span.authors
      span.author Sander, P.
      span.author Zucker, S.
    span.title Inferring surface trace and differential structure from 3-D images
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 9
    span.pages 833 - 854
    span.year 1990

  li
    span.authors
      span.author Zucker, S.
    span.title Adaptation and attention
    span.journal Behav. and Brain Sciences
    span.volume 13
    span.pages 458
    span.year 1990

  li
    span.authors
      span.author Zucker, S.
      span.author Iverson, L.
      span.author Hummel, R.
    span.title Coherent compound motion: Corners and non-rigid configurations
    span.journal Neural Computation
    span.volume 2
    span.pages 44 - 57
    span.year 1990

  li
    span.authors
      span.author Dobbins, A.
      span.author Zucker, S.
      span.author Cynader, M.
    span.title Endstopping and curvature
    span.journal Vision Research
    span.volume 29
    span.pages 1371 - 1387
    span.year 1989

  li
    span.authors
      span.author Dubuc, B.
      span.author Quiniou, J.
      span.author Roques-Carmes, C.
      span.author Tricot, C.
      span.author Zucker, S.
    span.title Evaluating the fractal dimension of profiles
    span.journal Physical Review A
    span.volume 39
    span.pages 1500 - 1512
    span.year 1989

  li
    span.authors
      span.author Dubuc, B.
      span.author Zucker, S.
      span.author Tricot, C.
      span.author Quiniou, J.
      span.author Wehbi, D.
    span.title Evaluating the fractal dimension of surfaces
    span.journal Proc. Royal Society (London)
    span.volume A
    span.issue 425
    span.pages 113 - 127
    span.year 1989

  li
    span.authors
      span.author Hel-Or, Y.
      span.author Zucker, S.
    span.title Texture fields and texture flows: Sensitivity to differences
    span.journal Spatial Vision
    span.volume 4
    span.pages 131 - 139
    span.year 1989

  li
    span.authors
      span.author Norman, J.
      span.author Lappin, J.
      span.author Zucker, S.
    span.title Stereoscopic discrimination of smooth vs. discontinuous surface structure
    span.journal Investigative Ophthalmology and Visual Science (Suppl.)
    span.volume 
    span.pages 252
    span.year 1989

  li
    span.authors
      span.author Parent, P.
      span.author Zucker, S.
    span.title Trace inference, curvature consistency, and curve detection
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 11
    span.pages 823 - 839
    span.year 1989

  li
    span.authors
      span.author Parent, P.
      span.author Zucker, S.
    span.title Radial projection: An efficent update rule for relaxation labeling
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 11
    span.pages 886 - 889
    span.year 1989

  li
    span.authors
      span.author Zucker, S.
      span.author Dobbins, A.
      span.author Iverson, L.
    span.title Two stages of curve detection suggest two styles of visual computation
    span.journal Neural Computation
    span.volume 1
    span.pages 68 - 81
    span.year 1989

  li
    span.authors
      span.author Dobbins, A.
      span.author Zucker, S.
      span.author Cynader, M.
    span.title Endstopped simple cells and curvature: Predictions from a computational model
    span.journal Investigative Ophthalmology and Visual Science (Suppl.)
    span.volume 
    span.pages 331
    span.year 1988

  li
    span.authors
      span.author Kant, K.
      span.author Zucker, S.
    span.title Planning collision-free trajectories in time-varying environments: A two-level hierarchy
    span.journal The Visual Computer
    span.volume 2
    span.pages 304 - 313
    span.year 1988

  li
    span.authors
      span.author Link, N.
      span.author Zucker, S.
    span.title Corner detection in curvilinear dot grouping
    span.journal Biological Cybernetics
    span.volume 59
    span.pages 247 - 256
    span.year 1988

  li
    span.authors
      span.author Zucker, S.
    span.title Early orientation selection: inferring trace, tangent, and curvature fields
    span.journal Int. J. Pattern Recognition and Artificial Intelligence
    span.volume 2
    span.pages 443 - 458
    span.year 1988

  li
    span.authors
      span.author Zucker, S.
      span.author Davis, S.
    span.title Points and Endpoints: A size/spacing constraint for dot grouping
    span.journal Perception
    span.volume 17
    span.pages 229 - 247
    span.year 1988

  li
    span.authors
      span.author Dobbins, A.
      span.author Zucker, S.
      span.author Cynader, M.
    span.title Endstopped neurons provide curvature estimates
    span.journal Investigative Ophthalmology and Visual Science (Suppl.)
    span.volume 28
    span.issue 3
    span.pages 196
    span.year 1987

  li
    span.authors
      span.author Dobbins, A.
      span.author Zucker, S.
      span.author Cynader, M.
    span.title Endstopped neurons in the visual cortex as a substrate for calculating curvature
    span.journal Nature
    span.volume 329
    span.issue 6138
    span.pages 438 - 441
    span.year 1987

  li
    span.authors
      span.author Kant, K.
      span.author Zucker, S.
    span.title Planning Collision-free trajectories: Splines in space-time
    span.journal Int. J. Robotics and Automation
    span.volume 2
    span.issue 3
    span.pages 117 - 126
    span.year 1987

  li
    span.authors
      span.author Kimia, B.
      span.author Hummel, R.
      span.author Zucker, S.
    span.title Deblurring Gaussian blur
    span.journal Computer Vision, Graphics, and Image Processing
    span.volume 38
    span.pages 66 - 80
    span.year 1987

  li
    span.authors
      span.author Leclerc, Y.
      span.author Zucker, S.
    span.title The local structure of intensity discontinuities in 1 dimension
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume PAMI-9
    span.pages 341 - 355
    span.year 1987

  li
    span.authors
      span.author Link, N.
      span.author Zucker, S.
    span.title Sensitivity to corners in Flow Patterns
    span.journal Spatial Vision
    span.volume 2
    span.pages 233 - 244
    span.year 1987

  li
    span.authors
      span.author Zucker, S.
      span.author Iverson, L.
    span.title From orientation selection to optical flow
    span.journal Computer Vision, Graphics, and Image Processing
    span.volume 37
    span.pages 196 - 220
    span.year 1987

  li
    span.authors
      span.author Kant, K.
      span.author Zucker, S.
    span.title Toward Efficent Trajectory Planning: the path-velocity decomposition
    span.journal Int. J. Robotics Research
    span.volume 5
    span.pages 72 - 89
    span.year 1986

  li
    span.authors
      span.author Zucker, S.
    span.title The computational connection in vision: Early orientation selection
    span.journal Behaviour Research Methods, Instruments, and Computers
    span.volume 18
    span.pages 608 - 617
    span.year 1986

  li
    span.authors
      span.author Zucker, S.
      span.author Hummel, R.
    span.title Receptive fields and the representation of visual information
    span.journal Human Neurobiology
    span.volume 5
    span.pages 121 - 128
    span.year 1986

  li
    span.authors
      span.author Kaye, M.
      span.author Zucker, S.
      span.author Leclerc, Y.
      span.author Prichard, S.
      span.author Barre, P.
    span.title Osteoclast enlargement in end stage renal disease (ESRD)
    span.journal Kidney International
    span.volume 27
    span.pages 574 - 581
    span.year 1985

  li
    span.authors
      span.author Parent, P.
      span.author Zucker, S.
    span.title Curvature consistency and curve detection
    span.journal J. Opt. Soc. Amer., Ser. A
    span.volume 2
    span.issue 13
    span.pages 5
    span.year 1985

  li
    span.authors
      span.author Zucker, S.
    span.title Does connectionism suffice?
    span.journal Behavioural and Brain Sciences
    span.volume 8
    span.pages 301-302
    span.year 1985

  li
    span.authors
      span.author Zucker, S.
    span.title Structure into motion: Sensitivity to change in early optical flow
    span.journal J. Opt. Soc. Amer., Ser. A
    span.volume 2
    span.issue 13
    span.pages 4
    span.year 1985

  li
    span.authors
      span.author Zucker, S.
    span.title Early orientation selection: Tangent fields and the dimensionality of their support
    span.journal Computer Vision, Graphics, and Image Processing
    span.volume 32
    span.pages 74 - 103
    span.year 1985

  li
    span.authors
      span.author Zucker, S.
      span.author Casson, Y.
    span.title Sensitivity to change in early optical flow
    span.journal Investigative Ophthalmology and Visual Science (Suppl.)
    span.volume 26
    span.issue 3
    span.pages 57
    span.year 1985

  li
    span.authors
      span.author Zucker, S.
      span.author Cavanagh, P.
    span.title Subjective figures and texture perception
    span.journal Spatial Vision
    span.volume 1
    span.pages 131-140
    span.year 1985

  li
    span.authors
      span.author Kant, K.
      span.author Zucker, S.
    span.title Trajectory planning in time-varying environments, I: TPP = PPP + VPP
    span.journal Proc. SPIE
    span.volume 521
    span.pages 220-227
    span.year 1984

  li
    span.authors
      span.author Leclerc, Y.
      span.author Zucker, S.
    span.title The local structure of intensity discontinuities, (abstract)
    span.journal Optics News
    span.volume 10
    span.pages 71
    span.year 1984

  li
    span.authors
      span.author Paton, K.
      span.author Zucker, S.
    span.title Spatial pattern in sections of human muscle
    span.journal Pattern Recognition Letters
    span.volume 2
    span.pages 53 - 59
    span.year 1984

  li
    span.authors
      span.author Zucker, S.
    span.title Two processes for early optical flow, (abstract)
    span.journal Optics News
    span.volume 10
    span.pages 75
    span.year 1984

  li
    span.authors
      span.author Hummel, R.
      span.author Zucker, S.
    span.title On the foundations of relaxation labeling processes
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume PAMI-5
    span.pages 267-287
    span.year 1983

  li
    span.authors
      span.author Mohammed, J.
      span.author Hummel, R.
      span.author Zucker, S.
    span.title A feasible direction operator for relaxation methods
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume PAMI-5
    span.pages 330-332
    span.year 1983

  li
    span.authors
      span.author Zucker, S.
      span.author Stevens, K.
      span.author Sander, P.
    span.title The relation between brightness and proximity in dot patterns
    span.journal Perception and Psychophysics
    span.volume 34
    span.pages 513 - 522
    span.year 1983

  li
    span.authors
      span.author Ferrie, F.
      span.author Levine, M.
      span.author Zucker, S.
    span.title Cell tracking: a modeling and minimization approach
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume 4
    span.pages 277-291
    span.year 1982

  li
    span.authors
      span.author Hubschman, H.
      span.author Zucker, S.
    span.title Frame to frame coherence and the hidden surface computation: Constraints for a convex world
    span.journal ACM Transactions on Graphics
    span.volume 1
    span.pages 129-162
    span.year 1982

  li
    span.authors
      span.author Leclerc, Y.
      span.author Zucker, S.
      span.author Leclerc, D.
    span.title A browsing approach to documenting documentation
    span.journal IEEE COMPUTER
    span.volume 15
    span.issue 6
    span.pages 46-49
    span.year 1982

  li
    span.authors
      span.author Terzopoulos, D.
      span.author Zucker, S.
    span.title Detection of Osteogenesis Imperfecta by automated texture analysis
    span.journal Computer Graphics and Image Processing
    span.volume 20
    span.pages 229-243
    span.year 1982

  li
    span.authors
      span.author Hubschman, H.
      span.author Zucker, S.
    span.title Frame to frame coherence and the hidden surface computation: Constraints for a convex world
    span.journal Computer Graphics
    span.volume 15
    span.issue 3
    span.pages 45-54
    span.year 1981

  li
    span.authors
      span.author Pednault, E.
      span.author Zucker, S.
      span.author Muresan, L.
    span.title On the independence assumption underlying subjective Bayesian updating
    span.journal Artificial Intelligence
    span.volume 16
    span.pages 213-222
    span.year 1981

  li
    span.authors
      span.author Zucker, S.
    span.title Computer vision and image processing
    span.journal MICROS
    span.volume 2
    span.pages 23-24
    span.year 1981

  li
    span.authors
      span.author Zucker, S.
      span.author Hummel, R.
    span.title A 3-dimensional edge operator
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume PAMI-3
    span.pages 324-331
    span.year 1981

  li
    span.authors
      span.author Zucker, S.
      span.author Leclerc, Y.
      span.author Mohammed, J.
    span.title Continuous Relaxation and local maxima selection: Conditions for equivalence
    span.journal IEEE Trans. Pattern Analysis and Machine Intelligence
    span.volume PAMI-3
    span.pages 117-128
    span.year 1981

  li
    span.authors
      span.author Haralick, R.
      span.author Mohammed, J.
      span.author Zucker, S.
    span.title Compatibilities and the fixed points of arithmetic relaxation processes
    span.journal Computer Graphics and Image Processing
    span.volume 13
    span.pages 242-256
    span.year 1980

  li
    span.authors
      span.author Tsotsos, J.
      span.author Mylopolous, J.
      span.author Covvey, D.
      span.author Zucker, S.
    span.title A framework for visual motion understanding
    span.journal IEEE Trans. on Pattern Analysis and Machine Intelligence
    span.volume PAMI-2
    span.pages 563-573
    span.year 1980

  li
    span.authors
      span.author Zucker, S.
    span.title Functional architectures for cognition: Are simple inferences possible?
    span.journal The Behavioral and Brain Sciences
    span.volume 3
    span.pages 153-154
    span.year 1980

  li
    span.authors
      span.author Zucker, S.
    span.title The computational/representational paradigm as normal science: further support
    span.journal The Behavioral and Brain Sciences
    span.volume 3
    span.pages 406-407
    span.year 1980

  li
    span.authors
      span.author Zucker, S.
      span.author Terzopoulos, D.
    span.title Finding structure in co-occurrence matrices for texture analysis
    span.journal Computer Graphics and Image Processing
    span.volume 12
    span.pages 286-308
    span.year 1980

  li
    span.authors
      span.author Zucker, S.
      span.author Hummel, R.
    span.title Toward a low-level description of dot clusters: labelling edge, interior, and noise points
    span.journal Computer Graphics and Image Processing
    span.volume 9
    span.pages 213-233
    span.year 1979

  li
    span.authors
      span.author Zucker, S.
      span.author Krishnamurthy, E.
      span.author Haar, R.
    span.title Relaxation processes for scene labelling: Convergence, speed, and stability
    span.journal IEEE Trans. Systems, Man, and Cybernetics
    span.volume SMC-9
    span.pages 41-48
    span.year 1978

  li
    span.authors
      span.author Lev, A.
      span.author Zucker, S.
      span.author Rosenfeld, A.
    span.title Iterative enhancement of noisy images
    span.journal IEEE Trans. Systems, Man, and Cybernetics
    span.volume SMC-7
    span.pages 435-422
    span.year 1977

  li
    span.authors
      span.author Schacter, B.
      span.author Lev, A.
      span.author Zucker, S.
      span.author Rosenfeld, A.
    span.title An application of relaxation methods to edge reinforcement
    span.journal IEEE Trans. Systems, Man and Cybernetics
    span.volume SMC-7
    span.pages 813-816
    span.year 1977

  li
    span.authors
      span.author Zucker, S.
      span.author Hummel, R.
      span.author Rosenfeld, A.
    span.title An application of relaxation labelling to line and curve enhancement
    span.journal IEEE Trans. Computers
    span.volume C-26
    span.pages 393-403 and 922-929
    span.year 1977

  li
    span.authors
      span.author Rosenfeld, A.
      span.author Hummel, R.
      span.author Zucker, S.
    span.title Scene labelling by relaxation operations
    span.journal IEEE Trans. Systems, Man and Cybernetics
    span.volume SMC-6
    span.pages 420-433
    span.year 1976

  li
    span.authors
      span.author Zucker, S.
    span.title Toward a model of texture
    span.journal Computer Graphics and Image Processing
    span.volume 5
    span.pages 190-202
    span.year 1976

  li
    span.authors
      span.author Zucker, S.
    span.title Region growing: Childhood and adolescence
    span.journal Computer Graphics and Image Processing
    span.volume 5
    span.pages 382-399
    span.year 1976

  li
    span.authors
      span.author Zucker, S.
    span.title On the structure of texture
    span.journal Perception
    span.volume 5
    span.pages 419-436
    span.year 1976

  li
    span.authors
      span.author Zucker, S.
      span.author Rosenfeld, A.
      span.author Davis, L.
    span.title Picture segmentation by texture discrimination
    span.journal IEEE Trans. Computers
    span.volume C-24
    span.pages 1228-1233
    span.year 1975

