extends _project

block params
  - var project_name = 'Psychophysics'

block project_description
  p.details We earlier introduced an approach to categorical shape description based on the singularities (shocks) of curve evolution equations. We now consider the simplest compositions of shocks, and show that they lead to three classes of parametrically ordered shape sequences, organized along the sides of a shape triangle. By conducting several psychophysical experiments we demonstrate that shock-based descriptions are predictive of performance in shape perception. Most significantly, the experiments reveal a fundamental difference between perceptual effects dominated by when shocks form with respect to one another, versus those dominated by where they form. The shock-based theory provides a foundation for unifying tasks as diverse as shape bisection, recognition, and categorization.

  .demo-imgs
    img(src="/img/demo/psych-demo-1.gif")
    img(src="/img/demo/psych-demo-2.gif")